# Gradle files
.gradle/
build/
*.apk
*.aab
*.ap_

# Android Studio
.idea/
*.iml
*.iws
*.ipr
local.properties

# OS-specific files
.DS_Store
Thumbs.db

# Signing files
keystore.jks
keystore.properties

# Build files
.cxx/
